## Import libraries

In [1]:
import psycopg2

## Create a connection to the database and get a cursor

In [2]:
try: 
    conn = psycopg2.connect("host=localhost dbname=udacity_db user=root password=root")
    conn.autocommit = True
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

## Start with a normalized (3NF) database set of tables

Data from the last exercise, with a new table `sales`.

Table Name: transactions2  
column 0: transaction_id  
column 1: customer_name  
column 2: cashier_id  
column 3: year  

Table Name: albums_sold  
column 0: album_id  
column 1: album_name  
column 2: transaction_id

Table Name: employees  
column 0: employee_id  
column 1: employee_name

Table Name: sales  
column 0: transaction_id  
column 1: amount_spent

In [10]:
create_transactions2_query = """
CREATE TABLE IF NOT EXISTS transactions2 (
    transaction_id INT,
    customer_name VARCHAR,
    cashier_id INT,
    year INT
);
"""

create_albums_sold_query = """
CREATE TABLE IF NOT EXISTS albums_sold (
    album_id INT,
    album_name VARCHAR,
    transaction_id INT
);
"""

create_employees_query = """
CREATE TABLE IF NOT EXISTS employees (
    employee_id INT,
    employee_name VARCHAR
);
"""

create_sales_query = """
CREATE TABLE IF NOT EXISTS sales (
    transaction_id INT,
    amount_spent INT
);
"""

try: 
    cur.execute(create_transactions2_query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute(create_albums_sold_query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    cur.execute(create_employees_query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute(create_sales_query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [11]:
insert_transactions2_query = """
INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year)
VALUES (%s, %s, %s, %s)
"""

insert_albums_sold_query = """
INSERT INTO albums_sold (album_id, album_name, transaction_id)
VALUES (%s, %s, %s)
"""

insert_employees_query = """
INSERT INTO employees (employee_id, employee_name)
VALUES (%s, %s)
"""

insert_sales_query = """
INSERT INTO sales (transaction_id, amount_spent)
VALUES (%s, %s)
"""

    
try: 
    cur.execute(insert_transactions2_query, (1, "Amanda", 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_transactions2_query, (2, "Toby", 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_transactions2_query, (3, "Max", 2, 2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_albums_sold_query, (1, "Rubber Soul", 1))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute(insert_albums_sold_query, (2, "Let it Be", 1))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_albums_sold_query, (3, "My Generation", 2))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_albums_sold_query, (4, "Meet the Beatles", 3))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_albums_sold_query, (5, "Help!", 3))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_employees_query, (1, "Sam"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_employees_query, (2, "Bob"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_sales_query, (1, 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute(insert_sales_query, (2, 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_sales_query, (3, 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [12]:
print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transactions2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employees;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("\nTable: sales\n")
try: 
    cur.execute("SELECT * FROM sales;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions2

(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Table: albums_sold

(1, 'Rubber Soul', 1)
(2, 'Let it Be', 1)
(3, 'My Generation', 2)
(4, 'Meet the Beatles', 3)
(5, 'Help!', 3)

Table: employees

(1, 'Sam')
(2, 'Bob')

Table: sales

(1, 40)
(2, 19)
(3, 45)

## Query with multiple JOINs

Let's say we need to get:  

transaction_id  
customer_name  
cashier_name  
year  
albums_sold  
amount_sold

In [13]:
query = """
SELECT
    t.transaction_id,
    t.customer_name,
    e.employee_name AS cashier_name,
    t.year,
    a.album_name AS album_sold,
    s.amount_spent AS amount_sold
FROM transactions2 t
JOIN employees e
ON t.cashier_id = e.employee_id
JOIN albums_sold a
ON t.transaction_id = a.transaction_id
JOIN sales s
ON t.transaction_id = s.transaction_id
"""

try:
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, 'Rubber Soul', 40)
(1, 'Amanda', 'Sam', 2000, 'Let it Be', 40)
(2, 'Toby', 'Sam', 2000, 'My Generation', 19)
(3, 'Max', 'Bob', 2018, 'Meet the Beatles', 45)
(3, 'Max', 'Bob', 2018, 'Help!', 45)

We were able to get the information by performing multiple JOINS. However, we need to remember that JOINS are slow and if we have a read heavy workload that requires low latency queries we want to reduce the number of JOINS. Let's think about denormalizing our normalized tables.

## Denormalizing our tables

With denormalization you want to think about the queries you are running and how to reduce the number of JOINS even if that means duplicating data. For example, we need to run the following queries:

**Query 1** : `select transaction_id, customer_name, amount_spent FROM <min number of tables>`  
It should generate the amount spent on each transaction.  
**Query 2**: `select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name`  
It should generate the total sales by cashier.

### Query 1
`select transaction_id, customer_name, amount_spent FROM <min number of tables>`  
We already have all the information in the `transactions` table, except from `amount_spent`. If we add this attribute to the table we don't need to do any JOIN at all.  

Table Name: transactions  
column 0: transaction_id  
column 1: customer_name  
column 2: cashier_id  
column 3: year  
column 4: amount_spent

In [15]:
create_transactions_query = """
CREATE TABLE IF NOT EXISTS transactions (
    transaction_id INT,
    customer_name VARCHAR,
    cashier_id INT,
    year INT,
    amount_spent INT
);
"""

try: 
    cur.execute(create_transactions_query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
insert_transactions_query = """
INSERT INTO transactions (transaction_id, customer_name, cashier_id, year, amount_spent)
VALUES (%s, %s, %s, %s, %s)
"""

try: 
    cur.execute(insert_transactions_query, (1, "Amanda", 1, 2000, 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_transactions_query, (2, "Toby", 1, 2000, 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_transactions_query, (3, "Max", 2, 2018, 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [16]:
query = """
SELECT transaction_id, customer_name, amount_spent
FROM transactions;
"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 40)
(2, 'Toby', 19)
(3, 'Max', 45)

### Query 2
`select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name`  
To avoid using any JOINS, we first create a new table with just the information we need. 
 

Table Name: cashier_sales  
column 0: transaction_id    
column 1: cashier_id  
column 2: cashier_name  
column 3: amount_spent

In [17]:
create_cashier_sales_query = """
CREATE TABLE IF NOT EXISTS cashier_sales (
    transaction_id INT,
    cashier_id INT,
    cashier_name VARCHAR,
    amount_spent INT
);
"""

try: 
    cur.execute(create_cashier_sales_query)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
insert_cashier_sales_query = """
INSERT INTO cashier_sales (transaction_id, cashier_id, cashier_name, amount_spent)
VALUES (%s, %s, %s, %s)
"""

try: 
    cur.execute(insert_cashier_sales_query, (1, 1, "Sam", 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_cashier_sales_query, (2, 1, "Sam", 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute(insert_cashier_sales_query, (3, 2, "Bob", 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [18]:
query = """
SELECT cashier_name, SUM(amount_spent)
FROM cashier_sales
GROUP BY cashier_name;
"""
try: 
    cur.execute(query)
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('Sam', 59)
('Bob', 45)

## Drop the tables

In [19]:
try: 
    cur.execute("DROP table transactions2, albums_sold, employees, sales, transactions, cashier_sales")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

## Close cursor and connection

In [20]:
cur.close()
conn.close()